<nav>
  <div class="nav-wrapper blue-grey lighten-4">
    <a href="#" class="brand-logo blue-grey-text text-darken-3">VERIFIED PLOTS</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left:300px;">
      <li><a class="blue-grey-text text-darken-3" href="#">Verify</a></li>
      <li><a class="blue-grey-text text-darken-3"href="#">Sell</a></li>
      <li><a class="blue-grey-text text-darken-3" href="#">Buy</a></li>
      <li><a class="blue-grey-text text-darken-3" href="#">Favorites</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Signin/Register</a></li>
    </ul>
  </div>
</nav>



